@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="d-block w-50" src="~/Content/Images/carrots2.jpg" alt="First Slide">
            </div>
            <div class="item">
                <img class="d-block w-50" src="~/Content/Images/tomato.jpg" alt="Second Slide">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Problem</h2>
        <p>
           A lack of access to fresh fruits and vegetables can have a significant effect on ones health, especially as they get older.
           Local farmers markets are a great solution to this, and have better produce than grocery store chains since they are not 
            mass produced and are more nutrient rich.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Solution</h2>
        <p>
            Juniors-Markets makes it easy for customers to be able to search for local farmers markets, based on their zip code.
            Customers can also get markets details, directions, and have the ability to share with family and friends
            via e-mail.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Development Tools Used</h2>     
            <p>ASP.NET MVC</p>
            <p>Google Maps API</p>
           <p>US Department of Agriculture-Farmers Market API</P>
       
    </div>
</div>