@model IEnumerable<Juniors_Market.Models.MarketSearch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>    
    <h2>
        Farmers Markets near you:
    </h2>
</center>



<style>
    tr:nth-child(even){background-color: #f2f2f2;}
</style>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marketname)

            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marketname)

            </td>
            
            <td>
                @Html.ActionLink("View Market Details","GetMarketDetails", "Customers", new{id = item.Id}, new { @class = "btn btn-primary" })
            </td>
            
        </tr>
        }

    </table>
