@model Juniors_Market.Models.Email

@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendEmail</h2>

<br />
<br />

@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}

@using (Html.BeginForm())
{
    <form method="post" action="SendEmail">

        <div class="form-horizontal">

            <span class="form-control-static"> Receiver: </span>
            <input class="form-control" type="text" name="To" />

            <br />

            <span class="form-control-static"> Subject: </span>
            <input class="form-control" type="text" name="subject" />

            <br />

            <input class="btn btn-primary" type="submit" new { id=model.To } value="Send" />

        </div>
    </form>
}

